// Grid
%block-center{
	margin-right: auto;
	margin-left: auto;
	display: block;
}

%inline-block{
	display: inline-block;
}

%inline-block-top{
	@extend %inline-block;
	vertical-align: top;
}

%inline-block-middle{
	@extend %inline-block;
	vertical-align: middle;
}

%clear{
	clear: both;
}

%clearfix:before,
%clearfix:after{
	content: "";
	display: table;
}

%clearfix:after{
	content: "";
	display: table;
	clear: both;
}


// UI
%anti-flicker{
	@include backface-visibility(hidden);
	@include transform-style(preserve-3d);
}

%btn-hover-general{
	background-color: $rgbaHoverGeneral;
	color: $colorHoverGeneral;
}

%block-reponsive{
	max-width: 100%;
	height: auto;
}

%border-general{
	border: 1px solid #000;
	border-radius: $borderRadiusDefault;
}

%transparent-glow{
	@include box-shadow(0 0 3em 0.25em #fff);
	background: rgba(#fff, 0.6);
}

%cpanel-floating-ui{
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	@include box-shadow(0 0 1em 0.25em $colorFloatShadow);
	background: #fff;
}