{% extends 'layouts/default.html' %}

{% block bodyClass %}t-home{% endblock %}

{% block templateContent %}
<div id="control-panel" class="control-panel">
	<div class="filter-col">
		<div class="global-lang-filters">
			<a class="global-lang-filter" href="javascript:{}" data-filter-action="all" title="Filters out all languages and auto-filters any new ones">
				<i class="fa fa-check-square-o"></i>
			</a><a class="global-lang-filter" href="javascript:{}" data-filter-action="none" title="Allows all languages and auto-allows any new ones">
				<i class="fa fa-square-o"></i>
			</a>
		</div>

		<ul id="lang-buttons" class="lang-buttons"></ul>
	</div>

	<div id="remote-control" class="remote-control">
		<a class="toggle-button control-button active-button" href="javascript:{}" data-toggle-action="pause" title="Pauses all animations and shows more detailed information about each word">
			<i class="fa fa-search"></i>
		</a><a class="toggle-button control-button" href="javascript:{}" data-toggle-action="play" title="Resumes the animations and shows only the words">
			<i class="fa fa-play"></i>
		</a><a id="clear-all" class="clear-queue control-button" href="javascript:{}" title="Clears the current and queued words">
			<i class="fa fa-trash-o"></i>
		</a>
	</div>

	<div class="filter-col">
		<div class="fitler-input-field">
			<input id="new-word-filter" name="new-word-filter" type="text" value="" placeholder="Enter a word" />

			<a href="javascript:{};" title="Adds this word to the filter list"><i class="fa fa-plus"></i></a>
		</div>

		<ul id="words-filter" class="words-filter"></ul>

		<div id="mini-stats-outer" class="mini-stats-outer">
			<ul id="top-words" class="top-words mini-stats">
				<li class="stat-list-title">Top 10 Current Words</li>
			</ul>

			<ul id="top-langs" class="top-langs mini-stats">
				<li class="stat-list-title">Current Languages</li>
			</ul>

			<ul id="top-repos" class="top-repos mini-stats">
				<li class="stat-list-title">Current Repositories</li>
			</ul>
		</div>
	</div>
</div>

<div id="stage" class="stage">
	<div id="actor-template" class="actor">
		<div class="actor-inner">
			<div class="event-word"></div>

			<div class="actor-meta-outer">
				<div class="repo-langs actor-meta"></div>

				<a class="event-url actor-meta actor-meta-link" href="#" target="_blank" title="See the exact location this word originated from"></a>

				<a class="repo-url actor-meta actor-meta-link" href="#" target="_blank" title="Visit this repository's home page"></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block bodyEnd %}
<script type="text/javascript">
jQuery(function(){

var app,
	oOpts = {
		socketUrl: url('protocol') + '://' + url('domain') + ':{{ Config.socketio.port }}',
		statsDelay: 1000,
		tickDelay: 100
	};

app = new App(oOpts);

});
</script>
{% endblock %}