// Fonts
$fontArial: Arial, Helvetica, sans-serif;
$fontCourier: "Courier New", monospace;
$fontSansSerif: Cousine, $fontArial;
$fontMonospace: "Varela Round", $fontCourier;
$fontWeightLight: 400;
$fontWeightRegular: 500;
$fontWeightBold: 900;

// Colors
$colorHoverGeneral: #fff;
$rgbaHoverGeneral: rgba(0, 0, 0, 0.5);

// Base
$baseBodyBgColor: #fff;
$baseFontSize: 16px;
$baseLineHeight: 1.25;
$baseFontStack: $fontSansSerif;
$baseFontWeight: $fontWeightRegular;
$baseFontColor: #000;

// UI
$borderRadiusDefault: 0.3125em;

// Breakpoints
$mobile-wide: 500px;
$tablet-narrow: 640px;
$tablet: 768px;
$laptop: 960px;
$desktop-narrow: 1024px;
$desktop: 1200px;
$desktop-wide: 1190px;
$widescreen: 1600px;